/*@keyframes shake {*/
/*    25% {transform: translateX(5px)}*/
/*    !*50% {transform: translateX(-20px)}*!*/
/*    75% {transform: translateX(-5px)}*/
/*}*/
/*@keyframes shakeRight {*/
/*    50% {transform: translateX(5px)}*/
/*}*/
/*@keyframes shakeLeft {*/
/*    50% {transform: translateX(-5px)}*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --tg-theme-button-color: #b63e3e;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-text-color: #000000;
    --tg-theme-hint-color: #484848;
    --tg-theme-bg-color: #ffffff;
    --tg-theme-secondary-bg-color: #e3e3e3;
    --body-width: 356px;
}

body {
    font-family: Roboto, 'sans-serif';
    margin: 10px auto;
    padding: 0;
    width: var(--body-width);
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
}

.anyContainer {
    margin: 10px auto;
    padding: 10px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 20px;
}

.calendarContainer {
    text-align: center;
    width: max-content;
    /*transition: 0.5s;*/
}

.calendarNavigation {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: 600;
    }
}

#dateStr {
    font-size: 25px;
    margin: 0;
}

#daysTable {
    margin: auto;
    border-spacing: 0;
}

#daysTable td {
    position: relative;
    font-size: 20px;
    width: 42px;
    height: 42px;
    text-align: center;
    transition: 0.1s;
    text-decoration: none;
    cursor: default;
    user-select: none;
    border: 2px solid #0000;
    border-radius: 30%;
}

#daysTable td:hover {
    background-color: dimgray;
    color: white;
}

#daysTable td:active {
    background-color: dimgray;
}

@media (hover: none) {
    #daysTable td:hover {
        background-color: inherit;
        color: inherit;
    }
}

.daysName {
    /*background-color: #fff0;*/
}

.daysName td{
    /*background-color: var(--tg-theme-secondary-bg-color);*/
    border-radius: 0;
    font-weight: 500;
}

.daysName td:hover{
    background-color: inherit!important;
    color: inherit!important;
}

.anotherMonth {
    color: darkgray;
}

.nowDay {
    border: 2px solid #8d8d8d!important;
    border-radius: 30%;
    font-weight: 500;
}

.eventDot {
    position: absolute;
    width: 5px;
    height: 5px;
    /*--tg-theme-button-color: #b63e3e;*/
    background-color: var(--tg-theme-button-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.arrow {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 0.1s;
    width: 35px;
    font-size: 28px;
    margin: 0 10px;
    cursor: pointer;
}

.arrow:active {
    transform: scale(1.2);
}

.todayTitle {
    display: flex;
    align-items: center;
    transition: 0.1s;
    p {
        margin: 0;
        user-select: none;
    }
    #todayDay {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 27px;
        border-radius: 30%;
        border: 2px solid #8d8d8d;
        width: 46px;
        height: 46px;
    }
    #todayTitleText {
        font-size: 25px;
        margin-left: 7px;
    }
}

.todayTitle:active {
    transform: scale(0.98);
}

.noteList {
    background-color: var(--tg-theme-bg-color);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    .noteListTitle {
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        margin: 0;
    }
}

.noteList > i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.noteCard {
    position: relative;
    margin: 10px 0;
    padding: 2px;
}

.noteLine {
    position: absolute;
    /*left: 5px;*/
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--tg-theme-button-color);
    height: 100%;
    width: 6px;
    border-radius: 6px;
}

.noteText {
    margin: auto auto auto 20px;
    user-select: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.newNotePopup, .viewNotePopup {
    position: fixed;
    bottom: -500px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--body-width);
    max-height: 500px;
    background-color: var(--tg-theme-bg-color);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.3s;
    z-index: 999;
    .newNoteTitle, .viewNoteTitle {
        color: var(--tg-theme-text-color);
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }
    textarea {
        font-family: Roboto, 'sans-serif';
        font-size: 18px;
        border: none;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        width: calc(var(--body-width) - 40px);
        height: 280px;
        resize: none;
        background-color: var(--tg-theme-secondary-bg-color);
        color: var(--tg-theme-text-color);
    }
    textarea:focus {
        outline: var(--tg-theme-button-color) 2px solid;
    }
    textarea::placeholder {
        color: var(--tg-theme-hint-color);
    }
    #sendNotes, #closeNote{
        position: relative;
        left: 50%;
        margin: 20px 0;
        transform: translateX(-50%);
        font-size: 20px;
        border: none;
        background-color: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
        border-radius: 20px;
        width: 160px;
        height: 50px;
    }
}

.viewNoteText {
    overflow: auto;
    max-height: 300px;
    margin: 10px;
}

.newNotePopupVisible, .viewNotePopupVisible {
    bottom: 0;
    box-shadow: 0 0 0 10000px rgba(0,0,0,.5);
}

/*.backdrop {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #b63e3e;*/
/*}*/
