<div class="calendarContainer">
    <div class="calendarNavigation">
        <i class="arrow fa-solid fa-chevron-left" id="monthLeft"></i>
        <p id="dateStr"></p>
        <i class="arrow fa-solid fa-chevron-right" id="monthRight"></i>
    </div>
    <table id="daysTable">
        <thead>
        <tr class="daysName">
            <td style="border-top-left-radius: 30%">Mon</td>
            <td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
            <td style="border-top-right-radius: 30%">Sun</td>
        </tr>
        </thead>
    </table>
</div>
<div class="todayTitle">
    <p id="todayDay">15</p>
    <p id="todayTitleText">Thursday</p>
</div>