<div class="calendarContainer anyContainer">
    <div class="calendarNavigation">
        <i class="arrow fa-solid fa-chevron-left" id="monthLeft"></i>
        <p id="dateStr"></p>
        <i class="arrow fa-solid fa-chevron-right" id="monthRight"></i>
    </div>
    <table id="daysTable">
        <thead>
        <tr class="daysName">
            <td style="border-top-left-radius: 30%">Mon</td>
            <td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
            <td style="border-top-right-radius: 30%">Sun</td>
        </tr>
        </thead>
    </table>
</div>
<div class="todayTitle anyContainer">
    <p id="todayDay">15</p>
    <p id="todayTitleText">Thursday</p>
</div>
<div class="noteList anyContainer">
    <p class="noteListTitle">Notes</p>
    <i id="newNoteBtn" class="fa-solid fa-plus"></i>
    <div id="noteListDiv"></div>
</div>
<div class="newNotePopup">
    <i id="closeNewNote" class="fa-solid fa-xmark"></i>
    <p class="newNoteTitle">New note</p>
    <textarea placeholder="Write your note" id="newNoteArea"></textarea>
    <div class="newNoteDateContainer">
        <input
                type="datetime-local"
                id="newNoteDateTime"
                value="2024-02-21T04:00"
                min="1970-01-01T00:00"
                max="2050-12-31T00:00">
    </div>
    <button id="sendNotes">Save note</button>
</div>
<div class="viewNotePopup">
    <i id="closeNote" class="fa-solid fa-xmark"></i>
    <p class="viewNoteTitle">View note</p>
    <p class="viewNoteDate">null</p>
    <p class="viewNoteText"></p>
<!--    <textarea placeholder="Write your note" id="editNoteArea"></textarea>-->
<!--    <button id="closeNote">Close note</button>-->
    <div class="popup-action-button-container">
        <button id="deleteNote" class="popup-action-button"><i class="fa-solid fa-trash"></i></button>
<!--        <button id="editNote" class="popup-action-button"><i class="fa-regular fa-pen-to-square"></i></button>-->
    </div>
</div>